<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980923134518-vj05nlpeaju10l6iq3ju2ovld0v3qc96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980923134518-vj05nlpeaju10l6iq3ju2ovld0v3qc96</string>
	<key>API_KEY</key>
	<string>AIzaSyBn1YKq40-Gpqv2_v70Mu6pw9yw1YpMsFM</string>
	<key>GCM_SENDER_ID</key>
	<string>980923134518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.nassar.Alroya</string>
	<key>PROJECT_ID</key>
	<string>alroya-app</string>
	<key>STORAGE_BUCKET</key>
	<string>alroya-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980923134518:ios:dd6ecd9325f43b85d2de97</string>
	<key>DATABASE_URL</key>
	<string>https://alroya-app.firebaseio.com</string>
</dict>
</plist>